<mat-list>

  <mat-list-item *ngFor="let playlist of playlists; index as i; trackBy: trackFn" [class.active]=" playlist.id === selectedId "
  (click)="select(playlist.id)">
    <span matLine>
      {{i+1}}. {{ playlist.name}}
    </span>
    <mat-divider></mat-divider>
  </mat-list-item>


</mat-list>

<input type="text" [(ngModel)]="playlists[0].name">
