<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px" [style.padding.px]="10" fxFlexFill>
  <div fxFlex="50%">
    <app-search-form fxFlex="100%"
    [query]="query | async"
     (search)="searchAlbums($event)"></app-search-form>

  </div>

  <!-- <button (click)="connect()">COnnect</button> -->

  <p>Found {{(results | async)?.length}} results</p>

  <div fxFlex="50%">

    <app-search-results fxFlex="100%"
      [results]="results | async">
    </app-search-results>
  </div>


  <!-- <ng-container *ngIf="results | async as albums">
    <p>Found {{albums.length}} results</p>

    <div fxFlex="50%">

      <app-search-results fxFlex="100%" [results]="albums"></app-search-results>
    </div>
  </ng-container> -->

</div>
