<!-- mat-list>mat-list-item*3>span[matLine]{Name}+span{My Playlist} -->

<!-- <pre>  {{playlist | keyvalue | json }}</pre> -->

  <mat-list [attr.data-id]="playlist.id">
    <mat-list-item>
      <span matLine>Name:</span>
      <span matLine [style.font-size.px]="12 + 10">
        {{playlist.name | titlecase | slice:0:40 }}
      </span>
    </mat-list-item>

    <mat-list-item>
      <span matLine>Public:</span>
      <!-- <span matLine [style.color]="playlist.public? 'green':'red' "> -->
      <!-- <span matLine [ngStyle]="getStyles()"> -->
      <!-- <span matLine [ngStyle]="{
          color: playlist.public? 'green':'red'
        }"> -->
      <!-- <span matLine class="is-public"
            [class.is-public-yes]="playlist.public"
            [class.is-public-no]="!playlist.public"> -->
      <span matLine class="is-public" [ngClass]="{
              'is-public-yes': playlist.public,
              'is-public-no': !playlist.public
            }">
        <!-- {{ playlist.public? 'Yes' : 'No' }} -->
        {{ playlist.public | yesno:'Yeah':'Nope' | uppercase }}
      </span>
    </mat-list-item>

    <mat-list-item>
      <span matLine>Description:</span>
      <span matLine>{{ playlist.description }}</span>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button color="primary" (click)="edit.emit()">Edit</button>


